DIA_PROFILE_DIR=/Users/user/Library/Application Support/Dia/User Data/Default
DIA_SAFE_STORAGE_SERVICE=Dia Safe Storage
EAGLE_LIBRARY_PATH=/Users/user/Mobbin.library
EAGLE_API_URL=http://127.0.0.1:41595
MOBBIN_REPOSITORY_ROOT=/Users/user/mobbin-sides
